<div class="OTTcontainer" style="width: 100%; height: 100%">
    {{!-- Este es un comentario de test --}}
    <div id="groupMembersList" class="flex-row" style="display: flex; overflow-x: auto; overflow-y: hidden;">
        <div class="token" style="width: 75px; height: 75px; min-width: 75px; position: relative">
            <span style="position: absolute; right: 0; top: 0;"><i class="fas fa-copyright"></i></span>
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>
        <div class="token" style="width: 75px; height: 75px; min-width: 75px;">
            <img src="https://1.bp.blogspot.com/-oDj9d0xiec0/Wy6AuqxFtcI/AAAAAAAAEMs/oIKYxw6XOm4DGv5Jf81p81gUr7Tlao3XQCLcBGAs/s1600/2a3853c1a6a782ba6ec83bca9bbcdc495e26b5c9.png"
                alt="">
        </div>

    </div>
    <div style=" margin-top: 15px; ">
        <div class="row" style="display: flex; justify-content: space-between;">
            <div style="display: block;border: 1px solid black; width: 33%">
                <div for="" style="display: flex; justify-content: center;">Actions</div>
                <div id="checkBox" style="display: flex; justify-content: center;">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <inputtype="checkbox">
                </div>
            </div>

            <div class="" style="width: 33%; justify-self: end;">

                <div style="">
                    <strong>Turno:</strong> {{actTurn}}
                </div>

                <button id="nextTurnBtn">
                    Click me
                </button>
            </div>
        </div>

    </div>


</div>